@tailwind base;
@tailwind components;
@tailwind utilities;

.space-x-8 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse));
    margin-left: calc(0.3rem * calc(1 - var(--tw-space-x-reverse)));
}